<h1><nav class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Muhammet Gevrek</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>

          <a href="Impressum.htm">



    Impressum


    </a>

        </li>

      </ul>
    </nav>
  </div>
</nav>

<div id="masthead">
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1> Antik Möbeln

          </h1>
        </div>
        <div class="col-md-5">
            <div class="well well-lg">
              <div class="row">
                <div class="col-sm-6">
        	      	<img src="../assets/Moes.JPG" style="width:100%" class="img-responsive">
                </div>
                <div class="col-sm-6">
<p>Besuchen Sie meine Seite <a href="https://www.ebay-kleinanzeigen.de/pro/Moes-Retro-Moebel">die Website für Moe's Retro Möbel</a> für weitere Informationen.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div><!--/container-->
</div><!--/masthead-->

<!--main-->
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-3" id="leftCol">
        <ul class="nav nav-stacked" id="sidebar">
          <li><a href="/pages/home(home2.html.erb)">Biedermeier</a></li>
          <li><a href="#sec1">Louis Philippe</a></li>
          <li><a href="#sec2">Chippendale</a></li>
          <li><a href="#sec3">Mid Century</a></li>

        </ul>
      </div><!--/left-->

      <!--right-->
      <div class="col-md-9">
        <h2 id="sec0">Biedermeier</h2>
        <p>
          Als Biedermeier wird die Zeitspanne vom Ende des Wiener Kongresses 1815 bis zum Beginn der bürgerlichen Revolution 1848 in den Ländern des Deutschen Bundes bezeichnet. Mit dem Ausdruck Biedermeier ist in der politischen Geschichte der Begriff der Restauration verknüpft, der sich auf die staatspolitische Entwicklung nach dem Ende der napoleonischen Zeit und des Wiener Kongresses bezieht. Bedeutsam ist der Begriff als Epochenbezeichnung der Kulturgeschichte, als solcher jedoch kaum klar konturiert, da viele Assoziationen zum Biedermeier aus dem späteren 19. Jahrhundert stammen und oft als projizierte Zuschreibungen gelten müssen. Als Vormärz wird die zum selben Zeitabschnitt gehörende entgegengesetzte Bewegung bezeichnet, die eine politisch revolutionäre Veränderung suchte und unter anderem bei Literaten wie Georg Büchner und Heinrich Heine ihren Niederschlag fand.

Der Ausdruck Biedermeier bezieht sich zum einen auf die in dieser Zeit entstehende eigene Kultur und Kunst des Bürgertums, so in der Hausmusik, der Innenarchitektur und auch in der Kleidermode, zum anderen auf die Literatur der Zeit, die oft mit dem Etikett „hausbacken“ oder „konservativ“ versehen werden. Als typisch gilt die Flucht ins Idyll und ins Private. </p>

        <hr>
        <p>
        Quelle: https://de.wikipedia.org/wiki/Biedermeier (2019)/p>

        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Louis Philippe</h3></div>
              <div class="panel-body">Louis-Philippe I. (französisch Louis-Philippe Ier; * 6. Oktober 1773 in Paris; † 26. August 1850 in Claremont House südlich von Esher, Grafschaft Surrey) war in der sogenannten Julimonarchie von 1830 bis 1848 französischer König. Er ist auch als Bürgerkönig bekannt (französisch Roi Citoyen oder Roi Bourgeois). Sein offizieller Titel war „König der Franzosen“ und nicht mehr König von Frankreich und Navarra, den die französischen Könige seit Heinrich IV. getragen hatten.

Der französische Name Louis-Philippe wird auch im deutschen Sprachraum benutzt, wobei im Deutschen auch die Schreibweise ohne Bindestrich üblich ist: Louis Philippe. Die deutsche Namensform Ludwig Philipp wird dagegen nur selten verwendet – anders als bei den französischen Königen aus der Zeit vor der Französischen Revolution und bei seinen Vorgängern Ludwig XVIII. und Karl X.

Quelle: https://de.wikipedia.org/wiki/Louis-Philippe_I.
              </div>
            </div>
          </div>

        </div>

        <hr>

        <h2 id="sec2">Chippendale</h2>
        <p>
          Thomas Chippendale wurde als Sohn des Tischlers John Chippendale am 5. Juni 1718 (jul.) getauft. Das Datum seiner Geburt liegt ebenso wie seine Kindheit und Jugend im Dunkeln. Es wird vermutet, dass er in der Werkstatt des Vaters und bei Richard Wood in York lernte und arbeitete. Anfang der 1740er siedelte er nach London über und arbeitete hier als Möbeltischler. Ab 1747 existieren Belege für einen Auftrag durch Lord Burlington. Es wird angenommen, dass Chippendale bis dahin vorwiegend in anderen oder für andere Werkstätten arbeitete.

  Chippendale heiratete das erste Mal 1748 Catherine Redshaw († 1772). Aus dieser Ehe gingen 9 Kinder – 5 Söhne und 4 Töchter – hervor. 1753 zog er mit der Werkstatt und den Verkaufsräumen aus der Conduit Street in Long Acre nach Covent Garden. In drei gemieteten Gebäuden der St. Martin’s Lane Nr. 60–62 führte er die Manufaktur bis zu seinem Tod. Das Viertel um St. Martin-in-the-Fields war im 18. Jahrhundert ein bevorzugter Wohnort von Tischlern und Dekorateuren. Für die Stadterweiterungen im Nordwesten Londons war man nahe am Baugeschehen und konnte bei größeren Aufträgen kooperieren.

  1754 veröffentlichte Thomas Chippendale einen Katalog mit Möbelentwürfen unter dem Titel „The Gentleman and Cabinet Maker’s Director“. Die hier gezeigten Entwürfe gelten als zeitgemäße englische Möbelmode für wohlhabendere Schichten der englischen Gesellschaft. Mit diesen Angeboten hatte er den Geschmack der genannten Käufer getroffen und legte diesen Katalog noch zwei weitere Mal auf. Die Firma stellte aber nicht nur Möbel in dem uns heute als Chippendale bekannten Stil her, sondern beriet auch ihre Kunden im Bereich der Innendekoration und Farbgestaltung. Ein Feuer, das 1755 die Werkstatt zerstörte, gibt Auskunft über die Größe des Unternehmens. Neben den Lagerbeständen ging beim Brand das Werkzeug von 22 Tischlern verloren. Bis 1766 geht Chippendale eine Partnerschaft mit dem wohlhabenden schottischen Kaufmann James Rannie ein. Er wird sein Geschäftspartner und investiert in die Firma, der es in diesem Zeitraum, bedingt durch die Folgen des Siebenjährigen Krieges auf dem europäischen Kontinent und dem Franzosen- und Indianerkrieg in Amerika nicht besonders gut ging. Das führte zu zahlreichen Bankenzusammenbrüchen in West- und Mitteleuropa und zu einer akuten Finanzkrise. Der Markt für Luxusgüter brach in Europa weitestgehend zusammen. Vermutlich wegen der Geldknappheit hatte Chippendale in diesem Jahr sehr viel seines Lagerbestandes für geringes Geld verkaufen müssen.

  1760 wurde er als Mitglied in die Royal Society of Arts aufgenommen. Die Wahl verdankte er dem Einfluss des „Gentlemen-Architekten“ und Landsmannes Sir Thomas Robinson of Rokeby. Zur Erweiterung der Geschäftsbeziehung und Erschließung neuer Märkte führte ihn 1768 eine Reise nach Paris. In diesen Jahren galt Paris als führend in Bezug auf Mode und künstlerischen Geschmack. Für eine große Anzahl der englischen Aristokratie, insbesondere vieler Whigs, die sich nach Frankreich orientierten, blieb Paris mit seinen qualitativ hochwertigen Erzeugnissen tonangebend. Zum anderen begannen Verhandlungen, die auf bilaterale Handelsverträge ausgerichtet waren und zur Öffnung der französischen und englischen Märkte führten. Es hatte sich hier eine Art Luxusmarkt entwickelt, den Chippendale sich zu erschließen hoffte. Nach dem Tod von Rannie wählte Chippendale 1771 seinen Angestellten und Schwiegersohn Thomas Haig zum neuen Geschäftspartner.

  Es wird davon ausgegangen, dass die Einflussnahme auf den Entwurf und die Fertigung der Möbel weitgehend in den Händen von Thomas Chippendale lag. Ab 1776 zog sich Chippendale aus dem Geschäft zurück. Der älteste der fünf Söhne Thomas Chippendale der Jüngere, übernahm das Geschäft und führte es bis zum Bankrott 1804 weiter.

  Quelle: https://de.wikipedia.org/wiki/Thomas_Chippendale
        </p>
        <div class="row">
          <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
          <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
          <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
        </div>

        <hr>

        <h2 id="sec3">Mid Century</h2>
        <p>
        Die zeitliche Verortung von Mid-century modern ist nicht einheitlich definiert. In der Literatur beschränken einige Autoren die Ära auf die Jahre 1947 bis 1957, andere auf die Jahre 1950 bis 1965. Die amerikanische Journalistin Cara Greenberg benutzte den Begriff Mid-century modern erstmals im Titel ihres gleichnamigen Überblickswerks von 1983, in dem sie sich auf die Möbel der 1950er Jahre konzentrierte. In einem breiteren Kontext ist Mid-century modern ein Begriff für Architektur, Innenarchitektur, Produkt- und Grafikdesign, der das moderne Design der Mitte des 20. Jahrhunderts von den 1930er bis in die 1960er Jahre beschreibt. Die bei Kunstwissenschaftlern und Museen weltweit anerkannte Designbewegung knüpfte an die Moderne des Bauhauses und Le Corbusiers an.

      Quelle: https://de.wikipedia.org/wiki/Mid-century_modern </p>
        <p>




        </div><!--/right-->
  	</div><!--/row-->
</div><!--/container-->
